/* COLOR SCHEME */
/* #66E2DC
   #FA7453
   #FFB964
   #FCFAF9
   #191826 */

/* GLOBAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
  overflow-x: hidden;
  /* position: relative;
  padding: 0;
  margin: 0; */

  /* background-position: top 0px left 0px; */
}

/* TYPOGRAPHY */

.h1-style {
  font-size: 88px;
  line-height: 88px;
  font-weight: 700;
  color: #191826;
}

.h2-style {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  /* color: #191826; */
}

.p-big-style {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  /* color: #191826; */
}

.p-small-style {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #191826;
}

/* BUTTONS */

.btn {
  /* padding: 15px 95px; */
  width: 289px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.ios-btn {
  background-color: #191826;
  color: #fcfaf9;
}

.ios-btn:hover {
  background-color: #66e2dc;
}

.android-btn {
  background-color: #fcfaf9;
  color: #191826;
}

.android-btn:hover {
  background-color: #ffb964;
}

/* BTN SVG */

.btn img {
  margin-right: 8px;
}

/* DESIGN FOR 375px TO 768px */

/* HEADER SECTION */
.header-background-tablet {
  display: none;
}
.header-background-desktop {
  display: none;
}

.background-image-tablet {
  display: none;
}

.header-background-mobile {
  display: block;
}

.header-background {
  position: absolute;
  top: -15%;
  right: -55%;
}

.header-section {
  padding-left: 24px;
  padding-top: 40px;
  margin-bottom: 166px;
  /* background-image: url(assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

.logo-img {
  margin-bottom: 64px;
}

.header-h2 {
  margin-bottom: 20px;
}

.header-p {
  width: 327px;
  opacity: 0.7;
}

/* MID SECTION */

.mid-section {
  position: relative;
}

.mid-illustration {
  background-color: #191826;
}

.background-pattern-img {
  display: block;
  /* margin: 0 auto; */
  margin: 0 auto;
}

.mobile-phone-illustration {
  display: block;
  width: 210px;
  position: absolute;
  top: -98px;
  left: 50%;
  transform: translateX(-105px);
  margin: 0 auto;
}

.mid-card {
  background-color: #fa7453;
  color: #fcfaf9;
  transform: translateY(-10%);
  padding: 48px 36px;
  border-radius: 12px;
}

.card-h2 {
  margin-bottom: 12px;
}
.card-p {
  width: 302px;
  margin-bottom: 36px;
}

.price-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.price-text span {
  font-size: 65px;
  font-weight: 700;
  margin-right: 16px;
}

.ios-btn {
  margin-bottom: 16px;
}

/* FOOTER */
footer {
  margin-left: 24px;
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-text {
  max-width: 327px;
  margin-bottom: 64px;
  line-height: 26px;
  opacity: 0.7;
}

.social-media-icon {
  fill: #191826;
  margin-right: 20px;
  margin-bottom: 80px;
}

/* DESIGN FOR 768px TO DESKTOP DEVICES */

@media screen and (min-width: 768px) {
  .header-background-mobile {
    display: none;
  }

  .header-background-desktop {
    display: none;
  }

  .header-background-tablet {
    display: block;
    position: absolute;
    top: -20%;
    left: -50%;
    z-index: -2;
  }

  .background-image-tablet {
    display: block;
    position: absolute;
    top: -3%;
    right: -6%;
    z-index: -1;
  }

  .header-section {
    padding-left: 39px;
  }

  .header-h2 {
    width: 520px;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 28px;
  }

  .header-p {
    width: 514px;
    line-height: 28px;
    font-size: 18px;
  }

  .header-logo {
    /* margin-bottom: 0;
    margin-top: 0; */
    margin-bottom: 95px;
    margin-top: 61px;
  }

  .mid-section {
    width: 696px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border-radius: 12px;
    margin-top: 250px;
    margin-bottom: 182px;
  }

  .mobile-phone-illustration {
    display: block;
    width: 270px;
    position: absolute;
    top: 0;
    left: 58px;
    /* transform: translateX(64px); */
    transform: translateY(-138px);
    /* margin: 0 auto; */
  }

  .background-pattern-img {
    width: 280px;
    height: 420px;
    display: block;
    transform: translate(5%, -7%);
  }

  .mid-card {
    width: 399px;
    height: 546px;
    position: absolute;
    right: 58px;
    transform: translateY(-48%);
    /* transform: translateX(-58px); */
  }

  .card-h2 {
    width: 100%;
    font-size: 32px;
  }
  .card-p {
    width: 100%;
    line-height: 28px;
  }

  .btn {
    width: 100%;
  }

  footer {
    padding-left: 39px;
    padding-right: 39px;
  }

  .footer-text {
    width: 366px;
  }

  .footer-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* FOR 1440px DESKTOP DEVICES */

@media screen and (min-width: 1440px) {
  .header-background-mobile {
    display: none;
  }
  .header-background-tablet {
    display: none;
  }

  .header-background-desktop {
    display: block;
    position: absolute;
    top: -20%;
    left: -20%;
  }

  .background-image-tablet {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header-section,
  .mid-section,
  footer {
    margin-left: 165px;
    margin-right: 165px;
  }

  .header-h2 {
    width: 1015px;
    font-size: 88px;
    line-height: 88px;
  }

  .header-p {
    width: 825px;
    opacity: 0.7;
    font-size: 20px;
    line-height: 34px;
  }

  .mid-section {
    width: 1110px;
    height: 600px;
    background-color: #191826;
  }

  .mobile-phone-illustration {
    left: 102px;
    top: -213px;
    width: 312px;
    transform: translate(0);
  }
  .background-pattern-img {
    width: 312px;
    height: 468px;
    transform: translate(-20.2%, -7%);
  }

  .mid-card {
    transform: translate(0);
    top: 90px;
    right: 95px;
    width: 446px;
    height: 625px;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 58px 58px 48px 58px;
  }

  .card-h2 {
    width: 100%;
    font-size: 40px;
  }
  .card-p {
    width: 333px;
    line-height: 34px;
  }

  .btn {
    width: 100%;
  }

  footer {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-text {
    margin-right: 359px;
  }

  .logo-img {
    display: block;
    width: 146px;
    height: 32px;
  }

  .social-media-icon:hover {
    fill: #fa7453;
  }
}
